.bg-yel {
    background-image: linear-gradient(to left top, #4a47a3, #6d68ba, #8e8bd1, #b1aee8, #d4d3ff);
    border-radius: 4px;
    margin-top: unit(25);
    margin-bottom: unit(25);
    position: relative;
    padding: unit(15);


    &::before {
        content: '';
        width: 96%;
        height: 100%;
        background-image: linear-gradient(to left top, lighten(#4a47a3, 15%), lighten(#6d68ba, 15%), lighten(#8e8bd1, 15%), lighten(#d4d3ff, 15%));
        position: absolute;
        top: 4px;
        left: 2%;
        z-index: -1;
        border-radius: 4px;
    }

    &::after {
        content: '';
        width: 92%;
        height: 100%;
        background-image: linear-gradient(to left top, lighten(#4a47a3, 25%), lighten(#6d68ba, 25%), lighten(#8e8bd1, 25%), lighten(#d4d3ff, 25%));
        position: absolute;
        top: 8px;
        left: 4%;
        z-index: -2;
        border-radius: 4px;
    }
}

#map {
    border: none;
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 4px;
}
