.bg-white {
    background-color: $white;
}

.txt-white {
    color: $white;
}

.bg-white2 {
    background-color: $white;
}

.bg-dark {
    background-color: $dark;
}

.txt-dark {
    color: $dark;
}
